#container
  width: 570px
  border: 1px solid black
  margin: 20px auto
  padding: 12px 8px
  
  .row
    margin-bottom: 10px
    &.last
      margin-bottom: 0
      
    .number
      display: inline
      margin: 0 6px
      text-align: center
    .row_num
      margin-left: 20px
      display: inline
      text-align: right