#form
  Rows:
  = text_field_tag :row_count, 5
  = link_to_function "Fill", "startNumbers()"
  #timer_link
    = link_to_function "Start timer", "startTimer()"
#timer
#numbers

= link_to_function "Check score", "checkScore()"