<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/styles.css" media="screen" rel="stylesheet" type="text/css" /> 
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script> 
  <script src="/javascripts/rails.js" type="text/javascript"></script> 
  <script src="/javascripts/application.js" type="text/javascript"></script> 
  
</head>
<body>
  <div id="container">
  <%= yield %>
  </div>
</body>
</html>
